@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Saulo Carvalho</h1>
    <p class="lead">saulo.carvalho@al.infnet.edu.br</p>
    <p>@*<a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@</p>
</div>

<div class="row">
     <div class="col-md-4">
        <h2>Software como serviço(SaaS)</h2>
        <p>é uma forma de distribuição e comercialização de software. No modelo SaaS, o fornecedor do software se responsabiliza por toda a estrutura necessária à disponibilização do sistema (servidores, conectividade, cuidados com segurança da informação), e o cliente utiliza o software via internet, pagando um valor pelo serviço.</p>
        <p>Fonte: <a class="btn btn-default" href="https://pt.wikipedia.org/wiki/Software_como_serviço">WikiPedia</a></p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Plataforma como serviço(PaaS)</h2>
        <p>é um ambiente de desenvolvimento e implantação completo na nuvem, com recursos que permitem a você fornecer tudo, de aplicativos simples baseados em nuvem a sofisticados aplicativos empresariais habilitados para a nuvem. Você adquire os recursos necessários por meio de um provedor de serviços de nuvem em uma base pré-paga e os acessa por uma conexão com a Internet segura.</p>
        <p>Fonte: <a class="btn btn-default" href="https://azure.microsoft.com/pt-br/overview/what-is-paas/">What is PaaS</a></p>
        <p>@*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>*@</p>
    </div>
    <div class="col-md-4">
        <h2>Infraestrutura como serviço(IaaS)</h2>
        <p>É uma infraestrutura de computação instantânea, provisionada e gerenciada pela Internet. Escale ou reduza verticalmente com demanda e pague somente pelo que usar.</p>
        <p>Fonte: <a class="btn btn-default" href="https://azure.microsoft.com/pt-br/overview/what-is-iaas/">What is IaaS</a></p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>